.container_base {
  background-color: #EEEEEE;
  padding: 16px 10vw;
}

.container_base .results {
  background-color: white;
  border-radius: 4px;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 16px;
  color: #666666;
}